.custom-card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 2rem;
}

.btn-custom {
    padding: 10px 25px;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

    .btn-custom:hover {
        transform: translateY(-1px);
        filter: brightness(95%);
    }

.nav-link {
    cursor: pointer;
}
